* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 14, 14);
  height: 100vh;
  width: 100%;
}
.game-box {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  color: firebrick;
  font-size: 72px;
  font-weight: 900;
}
.game-title {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-text {
  font-size: 2em;
  margin-top: 32px;
  margin-bottom: 8px;
}
.game-board {
  margin-top: 32px;
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
}
h1 {
  font-size: 3em;
  color: firebrick;
}
